**Assignment 1**

In [ ]:
import pandas as pd

In [ ]:
column_names = ['Website', 'Employees', 'News',  'Languages', 'National', 'International']

In [ ]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/datasets/balance+scale',names = column_names)

In [ ]:
df

,Website,Employees,News,Languages,National,International
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",NaN,NaN,NaN,NaN,NaN
1,<html>,NaN,NaN,NaN,NaN,NaN
2,<head>,NaN,NaN,NaN,NaN,NaN
3,<title>UCI Machine Learning Repository: Balanc...,NaN,NaN,NaN,NaN,NaN
4,<!-- Stylesheet link -->,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",NaN,NaN,NaN,NaN,NaN
235,</span>,NaN,NaN,NaN,NaN,NaN
236,</center>,NaN,NaN,NaN,NaN,NaN
237,</body>,NaN,NaN,NaN,NaN,NaN
238,</html>,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isnull().sum()

Website            0
Employees        217
News             226
Languages        230
National         231
International    235
dtype: int64

In [ ]:
df = df.fillna({'Website':33,'Employees':2500,'News':46,'Languages':12, 'National':26, 'International':4})
df

,Website,Employees,News,Languages,National,International
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,4
1,<html>,2500,46,12,26,4
2,<head>,2500,46,12,26,4
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,4
4,<!-- Stylesheet link -->,2500,46,12,26,4
...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,4
235,</span>,2500,46,12,26,4
236,</center>,2500,46,12,26,4
237,</body>,2500,46,12,26,4
238,</html>,2500,46,12,26,4

In [ ]:
df = df.fillna(6)
df

,Website,Employees,News,Languages,National,International
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,4
1,<html>,2500,46,12,26,4
2,<head>,2500,46,12,26,4
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,4
4,<!-- Stylesheet link -->,2500,46,12,26,4
...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,4
235,</span>,2500,46,12,26,4
236,</center>,2500,46,12,26,4
237,</body>,2500,46,12,26,4
238,</html>,2500,46,12,26,4

In [ ]:
df.shape

(239, 6)

In [ ]:
df.head(10)

,Website,Employees,News,Languages,National,International
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,4
1,<html>,2500,46,12,26,4
2,<head>,2500,46,12,26,4
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,4
4,<!-- Stylesheet link -->,2500,46,12,26,4
5,"<link rel=""stylesheet"" type=""text/css"" href=""....",2500,46,12,26,4
6,"<script language=""JavaScript"" type=""text/javas...",2500,46,12,26,4
7,<!--,2500,46,12,26,4
8,function checkform ( form ),2500,46,12,26,4
9,{,2500,46,12,26,4

In [ ]:
df.tail(10)

,Website,Employees,News,Languages,National,International
229,"<span class=""normal"">",2500,46,12,26,4
230,"<a href=""../about.html"">About</a>&nbsp;&nbsp;|...",2500,46,12,26,4
231,"<a href=""../citation_policy.html"">Citation Pol...",2500,46,12,26,4
232,"<a href=""../donation_policy.html"">Donation Pol...",2500,46,12,26,4
233,"<a href=""../contact.html"">Contact</a>&nbsp;&nb...",2500,46,12,26,4
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,4
235,</span>,2500,46,12,26,4
236,</center>,2500,46,12,26,4
237,</body>,2500,46,12,26,4
238,</html>,2500,46,12,26,4

In [ ]:
df.describe()

       Website  Employees  News  Languages  National  International
count      239        239   239        239       239            239
unique     192         18    11          7         7              5
top     <br />       2500    46         12        26              4
freq         7        217   226        230       231            235

In [ ]:
df.isnull().sum()

Website          0
Employees        0
News             0
Languages        0
National         0
International    0
dtype: int64

In [ ]:
df.isnull

<bound method DataFrame.isnull of                                                Website Employees News  \
0    <!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 ...       NaN  NaN
1                                               <html>       NaN  NaN
2                                               <head>       NaN  NaN
3    <title>UCI Machine Learning Repository: Balanc...       NaN  NaN
4                             <!-- Stylesheet link -->       NaN  NaN
..                                                 ...       ...  ...
234           <a href="http://cml.ics.uci.edu">CML</a>       NaN  NaN
235                                            </span>       NaN  NaN
236                                          </center>       NaN  NaN
237                                            </body>       NaN  NaN
238                                            </html>       NaN  NaN

    Languages National International
0         NaN      NaN           NaN
1         NaN      NaN           NaN
2         NaN      NaN           NaN
3         NaN      NaN           NaN
4         NaN      NaN           NaN
..        ...      ...           ...
234       NaN      NaN           NaN
235       NaN      NaN           NaN
236       NaN      NaN           NaN
237       NaN      NaN           NaN
238       NaN      NaN           NaN

[239 rows x 6 columns]>

In [ ]:
X = df.iloc[:,0:-1]
X

,Website,Employees,News,Languages,National
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26
1,<html>,2500,46,12,26
2,<head>,2500,46,12,26
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26
4,<!-- Stylesheet link -->,2500,46,12,26
...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26
235,</span>,2500,46,12,26
236,</center>,2500,46,12,26
237,</body>,2500,46,12,26
238,</html>,2500,46,12,26

In [ ]:
type(X)

pandas.core.frame.DataFrame

In [ ]:
type('website')

str

In [ ]:
type('Languages')

str

In [ ]:
type('Employees'[1])

str

In [ ]:
type('News')

str

In [ ]:
type('National')

str

In [ ]:
X.shape

(239, 5)

In [ ]:
y = df.iloc[:,-1]

In [ ]:
y

0      4
1      4
2      4
3      4
4      4
      ..
234    4
235    4
236    4
237    4
238    4
Name: International, Length: 239, dtype: object

In [ ]:
type(y)

pandas.core.series.Series

In [ ]:
type(0)

int

In [ ]:
type(1)

int

In [ ]:
type(3)

int

In [ ]:
type(5)

int

In [ ]:
y.shape

(239,)

In [ ]:
len1 = df['Website']
len1

0      <!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 ...
1                                                 <html>
2                                                 <head>
3      <title>UCI Machine Learning Repository: Balanc...
4                               <!-- Stylesheet link -->
                             ...
234             <a href="http://cml.ics.uci.edu">CML</a>
235                                              </span>
236                                            </center>
237                                              </body>
238                                              </html>
Name: Website, Length: 239, dtype: object

In [ ]:
df.dtypes

Website          object
Employees        object
News             object
Languages        object
National         object
International    object
dtype: object

In [ ]:
df

,Website,Employees,News,Languages,National,International
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,4
1,<html>,2500,46,12,26,4
2,<head>,2500,46,12,26,4
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,4
4,<!-- Stylesheet link -->,2500,46,12,26,4
...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,4
235,</span>,2500,46,12,26,4
236,</center>,2500,46,12,26,4
237,</body>,2500,46,12,26,4
238,</html>,2500,46,12,26,4

In [ ]:
df['Website'].unique()

array(['<!DOCTYPE HTML PUBLIC \\"-//W3C//DTD HTML 4.01 Transitional//EN\\">',
       '<html>', '<head>',
       '<title>UCI Machine Learning Repository: Balance Scale Data Set</title>',
       '<!-- Stylesheet link -->',
       '<link rel="stylesheet" type="text/css" href="../assets/ml.css" />',
       '<script language="JavaScript" type="text/javascript">', '<!--',
       'function checkform ( form )', '{',
       '  // see http://www.thesitewizard.com/archive/validation.shtml',
       '  // for an explanation of this script and how to use it on your',
       '  // own website', '  // ** START **',
       '  if (form.q.value == "")', '  {',
       '    alert( "Please enter search terms." );',
       '    form.q.focus();', '    return false ;', '  }',
       '  if (getCheckedValue(form.sitesearch) == "ics.uci.edu" && form.q.value.indexOf("site:archive.ics.uci.edu/ml") == -1)',
       '    form.q.value = form.q.value + " site:archive.ics.uci.edu/ml";',
       '  // ** END **', '  return true ;', '}',
       '// return the value of the radio button that is checked',
       '// return an empty string if none are checked',
       '// there are no radio buttons',
       'function getCheckedValue(radioObj) {', '\tif(!radioObj)',
       '\t\treturn "";', '\tvar radioLength = radioObj.length;',
       '\tif(radioLength == undefined)', '\t\tif(radioObj.checked)',
       '\t\t\treturn radioObj.value;', '\t\telse', '\t\t\treturn "";',
       '\tfor(var i = 0; i < radioLength; i++) {',
       '\t\tif(radioObj[i].checked) {', '\t\t\treturn radioObj[i].value;',
       '\t\t}', '\t}', '\treturn "";', '//-->', '</script>', '</head>',
       '<body>', '<!-- SITE HEADER (INCLUDES LOGO AND SEARCH BOX) -->',
       '<table width=100% bgcolor="#003366">', '<tr>', '\t<td>',
       '\t\t<span class="normal"><a href="../index.html" alt="Home"><img src="../assets/logo.gif"',
       'border=0></img></a><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://cml.ics.uci.edu"><font color="FFDD33">Center for Machine Learning and Intelligent Systems</font></a></span>',
       '\t</td>', '\t<td width=100% valign=top align="right">',
       '\t\t<span class="whitetext">',
       '\t\t<a href="../about.html">About</a>&nbsp;',
       '\t\t<a href="../citation_policy.html">Citation Policy</a>&nbsp;',
       '\t\t<a href="../donation_policy.html">Donate a Data Set</a>&nbsp;',
       '\t\t<a href="../contact.html">Contact</a>', '\t\t</span>',
       '\t\t<br>', '\t\t<!-- Search Google -->',
       '\t\t<FORM method=GET action=https://www.google.com/custom onsubmit="return checkform(this);">',
       '\t\t<INPUT TYPE=text name=q size=30 maxlength=255 value="">',
       '\t\t<INPUT type=submit name=sa VALUE="Search">',
       '\t\t<INPUT type=hidden name=cof VALUE="AH:center;LH:130;L:http://archive.ics.uci.edu/assets/logo.gif;LW:384;AWFID:869c0b2eaa8d518e;">',
       '\t\t<input type=hidden name=domains value="ics.uci.edu">',
       '\t\t<input type=radio name=sitesearch value="ics.uci.edu" checked> <span class="whitetext"><font size="1">Repository</font></span>',
       '\t\t<input type=radio name=sitesearch value=""> <span class="whitetext"><font size="1">Web</font></span>',
       '\t\t&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
       '\t\t<A HREF=https://www.google.com/search><IMG SRC=https://www.google.com/logos/Logo_25blk.gif border=0 ALT=Google align=middle height=27></A>',
       '\t\t</FORM>',
       '\t\t<span class="whitetext"><a href="../datasets.php"><font size="3" color="#FFDD33"><b>View',
       'ALL Data Sets</b></font></a></span>', '</tr>', '</table>',
       '<br />',
       '<div style="background-color:#6E4100; color:white; padding:20px; margin-bottom:8px">',
       '\t  <span onclick="this.parentElement.style.display=\'none\';" style="float:right; cursor:pointer; margin-left: 8px; font-size:x-large; line-height:16px"><strong>&times;</strong></span>',
       '\t  Check out the <a target="_blank" href="https://archive-beta.ics.uci.edu/" style="color:white">beta version</a> of the new UCI Machine Learning Repository we are currently testing! <a target="_blank" href="https://archive-beta.ics.uci.edu/ml/contact" style="color:white">Contact us</a> if you have any issues',
       '</div>', '<table width=100% border=0 cellpadding=2><tr><td>',
       '   <table><tr>', '     <td valign=top>', '\t<p>',
       '\t<span class="heading"><b>Balance Scale Data Set</b></span>',
       '\t<br><span class="normal"><i><font size=4 >Download</font></i>: <a href="../machine-learning-databases/balance-scale/"><font',
       'style="BACKGROUND-COLOR: #FFFFAA" size=4>Data Folder</font></a>',
       'style="BACKGROUND-COLOR: #FFFFAA" size=4>Data Set Description</font></a></span></p>',
       '\t<p class="normal"><b>Abstract</b>: Balance scale weight & distance database</p>',
       '     </td>', '     <td><img',
       'src="../assets/MLimages/Large12.jpg"',
       'hspace=20 vspace=10  /> </td>', '   </tr></table>',
       '<table border=1 cellpadding=6>', '\t<tr>',
       '\t\t<td bgcolor="#DDEEFF"><p class="normal"><b>Data Set Characteristics:&nbsp;&nbsp;</b></p></td>',
       '\t\t<td><p class="normal">Multivariate</p></td>',
       '\t\t<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Instances:</b></p></td>',
       '\t\t<td><p class="normal">625</p></td>',
       '\t\t<td bgcolor="#DDEEFF"><p class="normal"><b>Area:</b></p></td>',
       '\t\t<td><p class="normal">Social</p></td>', '\t</tr>',
       '\t\t<td bgcolor="#DDEEFF"><p class="normal"><b>Attribute Characteristics:</b></p></td>',
       '\t\t<td><p class="normal">Categorical</p></td>',
       '\t\t<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Attributes:</b></p></td>',
       '\t\t<td><p class="normal">4</p></td>',
       '\t\t<td bgcolor="#DDEEFF"><p class="normal"><b>Date Donated</b></p></td>',
       '\t\t<td><p class="normal">1994-04-22</p></td>',
       '\t\t<td bgcolor="#DDEEFF"><p class="normal"><b>Associated Tasks:</b></p></td>',
       '\t\t<td><p class="normal">Classification</p></td>',
       '\t\t<td bgcolor="#DDEEFF"><p class="normal"><b>Missing Values?</b></p></td>',
       '\t\t<td><p class="normal">No</p></td>',
       '\t\t<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Web Hits:</b></p></td>',
       '\t\t<td><p class="normal">317530</p></td>', '\t<!--',
       '\t\t<td bgcolor="#DDEEFF"><p class="normal"><b>Highest Percentage Achieved:&nbsp;&nbsp;</b></p></td>',
       '\t\t<td><p class="normal">N/A</p></td>', '\t-->',
       '<p class="small-heading"><b>Source:</b></p>',
       '<p class="normal">Generated to model psychological experiments reported by Siegler',
       '<br>Three Aspects of Cognitive Development.  Cognitive Psychology',
       '<br>', '<br>Donor: ',
       "<br>Tim Hume (<u>hume <b>'@'</b> ics.uci.edu</u>)</p>",
       '<p class="small-heading"><b>Data Set Information:</b></p>',
       '<p class="normal">This data set was generated to model psychological experimental results.  Each example is classified as having the balance scale tip to the right',
       '<p class="small-heading"><b>Attribute Information:</b></p>',
       '<p class="normal">\t1. Class Name: 3 (L',
       '<br>\t2. Left-Weight: 5 (1', '<br>\t3. Left-Distance: 5 (1',
       '<br>\t4. Right-Weight: 5 (1', '<br>\t5. Right-Distance: 5 (1',
       '<p class="small-heading"><b>Relevant Papers:</b></p>',
       '<p class="normal">Klahr',
       '<br><a href="http://rexa.info/paper/2ef380b06ce9d1b17eb4cd74ef3a90099d8d713b">[Web Link]</a>',
       '<br>Langley',
       '<br><a href="http://rexa.info/paper/faf49a24bd50d12e111dd6cc6a3b2833189b3375">[Web Link]</a>',
       '<br>Newell',
       '<br><a href="http://rexa.info/paper/9d57f20c42bc53c5becb15e127ccfc0ed8a22132">[Web Link]</a>',
       '<br>McClelland',
       '<br><a href="http://rexa.info/paper/7d9ba067ebaac69829036f782e6b99d4449b561f">[Web Link]</a>',
       '<br>Shultz',
       '<br><a href="http://rexa.info/paper/c59164e3cbba0f0f49b4538806ced684bc1690e2">[Web Link]</a></p>',
       '<!-- OLD CODE:',
       '<p class="small-heading"><b>Papers That Cite This Data Set<sup>1</sup>:</b></p>',
       '<img src="../assets/rexa.jpg" />',
       '<p class="normal">Zhi-Hua Zhou and Yuan Jiang and Shifu Chen. <a',
       'href="http://rexa.info/paper/faf03ce4427609aa6db25e3d0e6479fb2ae153a7">Extracting symbolic rules from trained neural network ensembles</a>. AI Commun',
       'href="../support/balance+scale#faf03ce4427609aa6db25e3d0e6479fb2ae153a7">View Context</a>].<br><br>Jianbin Tan and David L. Dowe. <a',
       'href="http://rexa.info/paper/14f025e969e3a0418fd852ee46e54039ab3f216a">MML Inference of Decision Graphs with Multi-way Joins and Dynamic Attributes</a>. Australian Conference on Artificial Intelligence. 2003.  [<a',
       'href="../support/balance+scale#14f025e969e3a0418fd852ee46e54039ab3f216a">View Context</a>].<br><br>Peter Sykacek and Stephen J. Roberts. <a',
       'href="http://rexa.info/paper/d328ae33fb50756832a1c6cd703f7176c361923f">Adaptive Classification by Variational Kalman Filtering</a>. NIPS. 2002.  [<a',
       'href="../support/balance+scale#d328ae33fb50756832a1c6cd703f7176c361923f">View Context</a>].<br><br>Remco R. Bouckaert. <a',
       'href="http://rexa.info/paper/e140ecaac8486469d0ef5b237f4fa08d7315c5ed">Accuracy bounds for ensembles under 0 { 1 loss</a>. Xtal Mountain Information Technology & Computer Science Department',
       'href="../support/balance+scale#e140ecaac8486469d0ef5b237f4fa08d7315c5ed">View Context</a>].<br><br>Nir Friedman and MoisÃ©s Goldszmidt and Thomas J. Lee. <a',
       'href="http://rexa.info/paper/2ea57412a6ce00f095ef1a23aba00961bb392bf0">Bayesian Network Classification with Continuous Attributes: Getting the Best of Both Discretization and Parametric Fitting</a>. ICML. 1998.  [<a',
       'href="../support/balance+scale#2ea57412a6ce00f095ef1a23aba00961bb392bf0">View Context</a>].<br><br>Alexander K. Seewald. <a',
       'href="http://rexa.info/paper/e2b2b723df700c90e69a31a4403b740c2d2a7b2f">Dissertation Towards Understanding Stacking Studies of a General Ensemble Learning Scheme ausgefuhrt zum Zwecke der Erlangung des akademischen Grades eines Doktors der technischen Naturwissenschaften</a>.  [<a',
       'href="../support/balance+scale#e2b2b723df700c90e69a31a4403b740c2d2a7b2f">View Context</a>].<br><br>Hirotaka Inoue and Hiroyuki Narihisa. <a',
       'href="http://rexa.info/paper/c171fe96d278ffa703aa1310c738cad8586b4cb3">Experiments with an Ensemble Self-Generating Neural Network</a>. Okayama University of Science.  [<a',
       'href="../support/balance+scale#c171fe96d278ffa703aa1310c738cad8586b4cb3">View Context</a>].<br><br>Alexander K. Seewald. <a',
       'href="http://rexa.info/paper/944b9d70eb0a01d18c91109dfeb566936461a194">Meta-Learning for Stacked Classification</a>. Austrian Research Institute for Artificial Intelligence.  [<a',
       'href="../support/balance+scale#944b9d70eb0a01d18c91109dfeb566936461a194">View Context</a>].<br><br></p>',
       '-->',
       '<img src="../assets/rexa.jpg" /><p class="normal">Zhi-Hua Zhou and Yuan Jiang and Shifu Chen. <a',
       '<p class="small-heading"><b>Citation Request:</b></p>',
       '<p class="normal">Please refer to the Machine Learning',
       'Repository\'s <a href="../citation_policy.html">citation policy</a></p>',
       '</td></tr></table>', '<hr>',
       '<p class="normal"><font size=1>[1] Papers were automatically harvested and associated with this data set',
       'with <a href="http://rexa.info"><font size=1>Rexa.info</font></a></font></p>',
       '<table cellpadding=5 align=center><tr valign=center>',
       '\t\t<td><p class="normal">Supported By:</p></td>',
       '        <td><img src="../assets/nsfe.gif" height=60 /> </td>',
       '        <td><p class="normal">&nbsp;In Collaboration With:</p></td>',
       '        <td><img src="../assets/rexaSmall.jpg" /></td>',
       '</tr></table>', '<center>', '<span class="normal">',
       '<a href="../about.html">About</a>&nbsp;&nbsp;||&nbsp;',
       '<a href="../citation_policy.html">Citation Policy</a>&nbsp;&nbsp;||&nbsp;',
       '<a href="../donation_policy.html">Donation Policy</a>&nbsp;&nbsp;||&nbsp;',
       '<a href="../contact.html">Contact</a>&nbsp;&nbsp;||&nbsp;',
       '<a href="http://cml.ics.uci.edu">CML</a>', '</span>', '</center>',
       '</body>', '</html>'], dtype=object)

In [ ]:
df['Website'].nunique()

192

In [ ]:
df

,Website,Employees,News,Languages,National,International
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,4
1,<html>,2500,46,12,26,4
2,<head>,2500,46,12,26,4
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,4
4,<!-- Stylesheet link -->,2500,46,12,26,4
...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,4
235,</span>,2500,46,12,26,4
236,</center>,2500,46,12,26,4
237,</body>,2500,46,12,26,4
238,</html>,2500,46,12,26,4

In [ ]:
#Adding a new column
df['Total_Factors'] = df.iloc[:,2:5].sum(axis=1)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

,Website,Employees,News,Languages,National,International,Total_Factors
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,4,0.0
1,<html>,2500,46,12,26,4,0.0
2,<head>,2500,46,12,26,4,0.0
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,4,0.0
4,<!-- Stylesheet link -->,2500,46,12,26,4,0.0
...,...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,4,0.0
235,</span>,2500,46,12,26,4,0.0
236,</center>,2500,46,12,26,4,0.0
237,</body>,2500,46,12,26,4,0.0
238,</html>,2500,46,12,26,4,0.0

In [ ]:
df = df.drop(['Total_Factors'],axis=1)
df

,Website,Employees,News,Languages,National,International
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,4
1,<html>,2500,46,12,26,4
2,<head>,2500,46,12,26,4
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,4
4,<!-- Stylesheet link -->,2500,46,12,26,4
...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,4
235,</span>,2500,46,12,26,4
236,</center>,2500,46,12,26,4
237,</body>,2500,46,12,26,4
238,</html>,2500,46,12,26,4

In [ ]:
df['Values'] = df.iloc[:4:6].sum(axis=1)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

,Website,Employees,News,Languages,National,International,Values
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,4,0.0
1,<html>,2500,46,12,26,4,NaN
2,<head>,2500,46,12,26,4,NaN
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,4,NaN
4,<!-- Stylesheet link -->,2500,46,12,26,4,NaN
...,...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,4,NaN
235,</span>,2500,46,12,26,4,NaN
236,</center>,2500,46,12,26,4,NaN
237,</body>,2500,46,12,26,4,NaN
238,</html>,2500,46,12,26,4,NaN

In [ ]:
df['National'].nunique()

7

In [ ]:
df['International'].unique()

array([4,
       ' and the right distance.  The correct way to find the class is the greater of  (left-distance * left-weight) and (right-distance * right-weight).  If they are equal',
       ' pp. 61-116.  New York: Academic Press ',
       ' pp. 99-161. Cambridge',
       ' W. (1994).  Modeling Cognitive Development on Balance Scale Phenomena. Machine Learning'],
      dtype=object)

In [ ]:
df.insert(6,'Popularity',df['News'])
df

In [ ]:
df.insert(6,'Celebrity',15)
df

,Website,Employees,News,Languages,National,International,Celebrity,Popularity,Values
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,4,15,46,0.0
1,<html>,2500,46,12,26,4,15,46,NaN
2,<head>,2500,46,12,26,4,15,46,NaN
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,4,15,46,NaN
4,<!-- Stylesheet link -->,2500,46,12,26,4,15,46,NaN
...,...,...,...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,4,15,46,NaN
235,</span>,2500,46,12,26,4,15,46,NaN
236,</center>,2500,46,12,26,4,15,46,NaN
237,</body>,2500,46,12,26,4,15,46,NaN
238,</html>,2500,46,12,26,4,15,46,NaN

In [ ]:
df=df.drop(['International','Values'],axis=1)
df

,Website,Employees,News,Languages,National,Celebrity,Popularity
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,15,46
1,<html>,2500,46,12,26,15,46
2,<head>,2500,46,12,26,15,46
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,15,46
4,<!-- Stylesheet link -->,2500,46,12,26,15,46
...,...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,15,46
235,</span>,2500,46,12,26,15,46
236,</center>,2500,46,12,26,15,46
237,</body>,2500,46,12,26,15,46
238,</html>,2500,46,12,26,15,46

In [ ]:
df = df.rename(columns={'Employees':'Journalists'})
df

,Website,Journalists,News,Languages,National,Celebrity,Popularity
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,15,46
1,<html>,2500,46,12,26,15,46
2,<head>,2500,46,12,26,15,46
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,15,46
4,<!-- Stylesheet link -->,2500,46,12,26,15,46
...,...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,15,46
235,</span>,2500,46,12,26,15,46
236,</center>,2500,46,12,26,15,46
237,</body>,2500,46,12,26,15,46
238,</html>,2500,46,12,26,15,46

In [ ]:
df.columns

Index(['Website', 'Journalists', 'News', 'Languages', 'National', 'Celebrity',
       'Popularity'],
      dtype='object')

In [ ]:
df.columns = ['Website2', 'Journalists', 'News', 'Languages5', 'National', 'Celebrity','Popularity']

In [ ]:
df

,Website2,Journalists,News,Languages5,National,Celebrity,Popularity
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,15,46
1,<html>,2500,46,12,26,15,46
2,<head>,2500,46,12,26,15,46
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,15,46
4,<!-- Stylesheet link -->,2500,46,12,26,15,46
...,...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,15,46
235,</span>,2500,46,12,26,15,46
236,</center>,2500,46,12,26,15,46
237,</body>,2500,46,12,26,15,46
238,</html>,2500,46,12,26,15,46

In [ ]:
df = df.rename(columns = {'Website2':'Sources','Languages5':'Languages'})
df

,Sources,Journalists,News,Languages,National,Celebrity,Popularity
0,"<!DOCTYPE HTML PUBLIC \""-//W3C//DTD HTML 4.01 ...",2500,46,12,26,15,46
1,<html>,2500,46,12,26,15,46
2,<head>,2500,46,12,26,15,46
3,<title>UCI Machine Learning Repository: Balanc...,2500,46,12,26,15,46
4,<!-- Stylesheet link -->,2500,46,12,26,15,46
...,...,...,...,...,...,...,...
234,"<a href=""http://cml.ics.uci.edu"">CML</a>",2500,46,12,26,15,46
235,</span>,2500,46,12,26,15,46
236,</center>,2500,46,12,26,15,46
237,</body>,2500,46,12,26,15,46
238,</html>,2500,46,12,26,15,46

In [ ]:
df.values

array([['<!DOCTYPE HTML PUBLIC \\"-//W3C//DTD HTML 4.01 Transitional//EN\\">',
        2500, 46, ..., 26, 15, 46],
       ['<html>', 2500, 46, ..., 26, 15, 46],
       ['<head>', 2500, 46, ..., 26, 15, 46],
       ...,
       ['</center>', 2500, 46, ..., 26, 15, 46],
       ['</body>', 2500, 46, ..., 26, 15, 46],
       ['</html>', 2500, 46, ..., 26, 15, 46]], dtype=object)

In [ ]:
type(df.values)

numpy.ndarray

**Assignment 2**

In [ ]:
#Distribution function

In [ ]:
list1= [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2]

res = dict((key,list1.count(key)) for key in list1)
print(res)

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}